DB_USER=user
DB_PASSWORD=password
DB_NAME=database
DB_PORT=5432

FRONTEND_ORIGIN=frontend-origin

JWT_SECRET_KEY=jwt-secret-key
JWT_ISSUER=jwt-issuer
JWT_AUDIENCE=${FRONTEND_ORIGIN}
JWT_EXPIRATION_MINUTES=jwt-expiration-minutes

AWS_ACCESS_KEY=aws-access-key
AWS_SECRET=KEY=aws-secret-key
AWS_REGION=aws-region
STORAGE_BUCKET_NAME=storage-bucket-name

GOOGLE_CLIENT_ID=google-client-id

RESEND_API_KEY=resend-api-key
RESEND_FROM_EMAI=resend-from-email

CONNECTION_STRING_DEFAULT_CONNECTION=postgres://${DB_USER}:${DB_PASSWORD}@db_host:${DB_PORT}/${DB_NAME}