# Port Configurations

FRONTEND_PORT=5173
BACKEND_PORT=8080

# Database

DB_USER=user
DB_PASSWORD=password
DB_NAME=database
DB_PORT=5432

# Backend

FRONTEND_ORIGIN=frontend-origin

JWT_SECRET_KEY=jwt-secret-key
JWT_ISSUER=jwt-issuer
JWT_AUDIENCE=${FRONTEND_ORIGIN}
JWT_EXPIRATION_MINUTES=jwt-expiration-minutes

AWS_ACCESS_KEY=aws-access-key
AWS_SECRET_KEY=aws-secret-key
AWS_REGION=aws-region
STORAGE_BUCKET_NAME=storage-bucket-name

GOOGLE_CLIENT_ID=google-client-id

RESEND_API_KEY=resend-api-key
RESEND_FROM_EMAIL=resend-from-email

CONNECTION_STRING_DEFAULT_CONNECTION=postgres://${DB_USER}:${DB_PASSWORD}@db_host:${DB_PORT}/${DB_NAME}

# Frontend

VITE_API_URL=url
VITE_GOOGLE_MAPS_API_KEY=key
VITE_GOOGLE_MAPS_ID=maps_id
VITE_GOOGLE_CLIENT_ID=client_id